@import "../styles/colors.scss";

.light {
  .container {
    background-color: $light_gray;
    border-bottom: 2px solid $light_gray;
  }
}

.dark {
  .container {
    background-color: $black !important;
    border-bottom: 2px solid $black;
  }
}

.container {
  height: 92vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
