@import "../styles/colors.scss";

.light {
  .container {
    background-color: $white;
  }
}

.dark {
  .container {
    background-color: $black !important;
  }
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
